openapi: 3.0.1
info:
  title: Heurist API
  description: One Unified API for Heurist's serverless inference and AI Agents
  version: 1.0.0
  license:
    name: MIT
servers:
  - url: "{server}"
    variables:
      server:
        enum:
          - http://sequencer.heurist.xyz
          - https://llm-gateway.heurist.xyz
          - https://sequencer-v2.heurist.xyz
        default: "http://sequencer.heurist.xyz"
security:
  - bearerAuth: []
paths:
  /submit_job:
    post:
      servers:
        - url: http://sequencer.heurist.xyz
      description: Generate an image based on the provided text prompt.
      requestBody:
        description: JSON payload to specify the image generation job details
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id:
                  type: string
                  description: A unique identifier for the job
                  example: heurist-sdk-job-C254845d2522
                model_input:
                  type: object
                  properties:
                    SD:
                      type: object
                      properties:
                        prompt:
                          type: string
                          description: Textual description to generate the image
                          example: A beautiful landscape with mountains and a river
                        neg_prompt:
                          type: string
                          description: Textual description to avoid certain elements in the image
                          example: Avoid any signs of human presence
                        num_iterations:
                          type: integer
                          description: Number of iterations for the image generation process
                          example: 20
                        width:
                          type: integer
                          description: Width of the generated image in pixels
                          example: 1024
                        height:
                          type: integer
                          description: Height of the generated image in pixels
                          example: 512
                        guidance_scale:
                          type: number
                          format: float
                          description: Guidance scale to control the adherence to the prompt
                          example: 7.5
                        seed:
                          type: integer
                          description: Seed for the random number generator to ensure reproducibility
                          example: -1
                      required:
                        - prompt
                model_id:
                  type: string
                  description: The identifier of the image generation model
                  enum:
                    - HeuristLogo
                    - FLUX.1-dev
                    - PepeXL
                    - Zeek
                    - MagusDevon
                    - Aurora
                    - AnimagineXL
                    - CyberRealisticXL
                    - BrainDance
                    - BlazingDrive
                    - YamersCartoonArcadia
                    - ArchitectureRealMix
                    - ArthemyComics
                    - ArthemyReal
                    - DreamShaperXL
                    - AAMXLAnimeMix
                    - SDXLUnstableDiffusersV11
                    - SDXL
                deadline:
                  type: integer
                  description: Maximum time allowed for job completion in seconds
                  example: 60
                  default: 60
                priority:
                  type: integer
                  description: Priority of the job
                  example: 1
                  default: 1
              required:
                - job_id
                - model_input
                - model_id
        required: true
      responses:
        "200":
          description: Job successfully submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  image_url:
                    type: string
                    description: URL pointing to the generated image
        "400":
          description: Bad request, invalid parameters or missing fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized access, invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/chat/completions:
    post:
      servers:
        - url: https://llm-gateway.heurist.xyz
      summary: Create Chat Completion
      description: OpenAI-compatible chat completion endpoint for LLM interactions.
      operationId: createChatCompletion
      requestBody:
        description: Chat completion request parameters
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - messages
              properties:
                model:
                  type: string
                  description: ID of the model to use
                  enum:
                    - hermes-3-llama3.1-8b
                    - meta-llama/llama-3.3-70b-instruct
                    - mistralai/mistral-7b-instruct
                    - mistralai/mixtral-8x22b-instruct
                    - mistralai/mixtral-8x7b-instruct
                    - nvidia/llama-3.1-nemotron-70b-instruct
                    - qwen/qwen-2.5-coder-32b-instruct
                messages:
                  type: array
                  description: A list of messages comprising the conversation so far
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum:
                          - system
                          - user
                          - assistant
                        description: The role of the message author
                      content:
                        type: string
                        description: The content of the message
                max_tokens:
                  type: integer
                  description: The maximum number of tokens to generate
                  example: 1024
                  default: 1024
                temperature:
                  type: number
                  format: float
                  description: Sampling temperature between 0 and 1
                  minimum: 0
                  maximum: 1
                stream:
                  type: boolean
                  description: Whether to stream back partial progress
                  default: false
      responses:
        "200":
          description: Successful completion response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
            text/event-stream:
              schema:
                type: string
                description: Server-sent events stream for partial completions when stream=true
        "400":
          description: Bad request, invalid parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized access, invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /mesh_request:
    post:
      servers:
        - url: https://mesh.heurist.xyz
      description: Make a synchronous request to an AI agent.
      security:
        - bearerAuth: []
      requestBody:
        description: JSON payload for the mesh request
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
              properties:
                agent_id:
                  type: string
                  description: Identifier of the agent to use
                  default: CoinGeckoTokenInfoAgent
                  enum:
                    - AIXBTProjectInfoAgent
                    - ArkhamIntelligenceAgent
                    - BitquerySolanaTokenInfoAgent
                    - CarvOnchainDataAgent
                    - CoinGeckoTokenInfoAgent
                    - CookieProjectInfoAgent
                    - DexScreenerTokenInfoAgent
                    - ElfaTwitterIntelligenceAgent
                    - EtherscanAgent
                    - ExaSearchAgent
                    - FirecrawlSearchAgent
                    - FundingRateAgent
                    - GoplusAnalysisAgent
                    - MoniTwitterInsightAgent
                    - PondWalletAnalysisAgent
                    - PumpFunTokenAgent
                    - SolWalletAgent
                    - SpaceTimeAgent
                    - TruthSocialAgent
                    - TwitterInfoAgent
                    - UnifaiMeteoraInfoAgent
                    - UnifaiTokenAnalysisAgent
                    - UnifaiWeb3NewsAgent
                    - ZerionWalletAnalysisAgent
                input:
                  type: object
                  oneOf:
                    - type: object
                      required:
                        - query
                      properties:
                        query:
                          type: string
                          description: Natural language query
                          default: Tell me about ethereum
                    - type: object
                      required:
                        - tool
                      properties:
                        tool:
                          type: string
                          description: Tool name to execute
                        tool_arguments:
                          oneOf:
                            - $ref: '#/components/schemas/AIXBTProjectInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/ArkhamIntelligenceAgent_tool_arguments'
                            - $ref: '#/components/schemas/BitquerySolanaTokenInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/CarvOnchainDataAgent_tool_arguments'
                            - $ref: '#/components/schemas/CoinGeckoTokenInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/CookieProjectInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/DexScreenerTokenInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/ElfaTwitterIntelligenceAgent_tool_arguments'
                            - $ref: '#/components/schemas/EtherscanAgent_tool_arguments'
                            - $ref: '#/components/schemas/ExaSearchAgent_tool_arguments'
                            - $ref: '#/components/schemas/FirecrawlSearchAgent_tool_arguments'
                            - $ref: '#/components/schemas/FundingRateAgent_tool_arguments'
                            - $ref: '#/components/schemas/GoplusAnalysisAgent_tool_arguments'
                            - $ref: '#/components/schemas/MoniTwitterInsightAgent_tool_arguments'
                            - $ref: '#/components/schemas/PondWalletAnalysisAgent_tool_arguments'
                            - $ref: '#/components/schemas/PumpFunTokenAgent_tool_arguments'
                            - $ref: '#/components/schemas/SolWalletAgent_tool_arguments'
                            - $ref: '#/components/schemas/SpaceTimeAgent_tool_arguments'
                            - $ref: '#/components/schemas/TruthSocialAgent_tool_arguments'
                            - $ref: '#/components/schemas/TwitterInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/UnifaiMeteoraInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/UnifaiTokenAnalysisAgent_tool_arguments'
                            - $ref: '#/components/schemas/UnifaiWeb3NewsAgent_tool_arguments'
                            - $ref: '#/components/schemas/ZerionWalletAnalysisAgent_tool_arguments'
                              # Adding a generic object as a fallback if no specific agent schema matches,
                              # though ideally, agent_id enum should ensure one of the above matches.
                            - type: object
                              description: Arguments for the specified tool if no specific agent schema is matched.
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    description: Agent-specific response data
        "401":
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /mesh_task_create:
    post:
      servers:
        - url: https://mesh.heurist.xyz
      description: Create an asynchronous task.
      security:
        - bearerAuth: []
      requestBody:
        description: JSON payload for creating a task
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - task_details
              properties:
                agent_id:
                  type: string
                  description: Identifier of the agent to use
                  default: CoinGeckoTokenInfoAgent
                  enum:
                    - AIXBTProjectInfoAgent
                    - ArkhamIntelligenceAgent
                    - BitquerySolanaTokenInfoAgent
                    - CarvOnchainDataAgent
                    - CoinGeckoTokenInfoAgent
                    - CookieProjectInfoAgent
                    - DexScreenerTokenInfoAgent
                    - ElfaTwitterIntelligenceAgent
                    - EtherscanAgent
                    - ExaSearchAgent
                    - FirecrawlSearchAgent
                    - FundingRateAgent
                    - GoplusAnalysisAgent
                    - MoniTwitterInsightAgent
                    - PondWalletAnalysisAgent
                    - PumpFunTokenAgent
                    - SolWalletAgent
                    - SpaceTimeAgent
                    - TruthSocialAgent
                    - TwitterInfoAgent
                    - UnifaiMeteoraInfoAgent
                    - UnifaiTokenAnalysisAgent
                    - UnifaiWeb3NewsAgent
                    - ZerionWalletAnalysisAgent
                agent_type:
                  type: string
                  description: Type of agent
                  default: AGENT
                task_details:
                  type: object
                  oneOf:
                    - type: object
                      required:
                        - query
                      properties:
                        query:
                          type: string
                          description: Natural language query
                          default: Tell me about ethereum
                    - type: object
                      required:
                        - tool
                      properties:
                        tool:
                          type: string
                          description: Tool name to execute
                        tool_arguments:
                          oneOf:
                            - $ref: '#/components/schemas/AIXBTProjectInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/ArkhamIntelligenceAgent_tool_arguments'
                            - $ref: '#/components/schemas/BitquerySolanaTokenInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/CarvOnchainDataAgent_tool_arguments'
                            - $ref: '#/components/schemas/CoinGeckoTokenInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/CookieProjectInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/DexScreenerTokenInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/ElfaTwitterIntelligenceAgent_tool_arguments'
                            - $ref: '#/components/schemas/EtherscanAgent_tool_arguments'
                            - $ref: '#/components/schemas/ExaSearchAgent_tool_arguments'
                            - $ref: '#/components/schemas/FirecrawlSearchAgent_tool_arguments'
                            - $ref: '#/components/schemas/FundingRateAgent_tool_arguments'
                            - $ref: '#/components/schemas/GoplusAnalysisAgent_tool_arguments'
                            - $ref: '#/components/schemas/MoniTwitterInsightAgent_tool_arguments'
                            - $ref: '#/components/schemas/PondWalletAnalysisAgent_tool_arguments'
                            - $ref: '#/components/schemas/PumpFunTokenAgent_tool_arguments'
                            - $ref: '#/components/schemas/SolWalletAgent_tool_arguments'
                            - $ref: '#/components/schemas/SpaceTimeAgent_tool_arguments'
                            - $ref: '#/components/schemas/TruthSocialAgent_tool_arguments'
                            - $ref: '#/components/schemas/TwitterInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/UnifaiMeteoraInfoAgent_tool_arguments'
                            - $ref: '#/components/schemas/UnifaiTokenAnalysisAgent_tool_arguments'
                            - $ref: '#/components/schemas/UnifaiWeb3NewsAgent_tool_arguments'
                            - $ref: '#/components/schemas/ZerionWalletAnalysisAgent_tool_arguments'
                            - type: object
                              description: Arguments for the specified tool if no specific agent schema is matched.
        required: true
      responses:
        "200":
          description: Task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    description: Unique task identifier
                  msg:
                    type: string
                    description: Status message
        "401":
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /mesh_task_query:
    post:
      servers:
        - url: https://mesh.heurist.xyz
      description: Query the status of an asynchronous task.
      security:
        - bearerAuth: []
      requestBody:
        description: JSON payload for querying task status
        content:
          application/json:
            schema:
              type: object
              required:
                - task_id
              properties:
                task_id:
                  type: string
                  description: Task identifier to query
        required: true
      responses:
        "200":
          description: Task status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Current task status
                  reasoning_steps:
                    type: array
                    description: List of reasoning steps
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: integer
                          description: Unix timestamp
                        content:
                          type: string
                          description: Step description
                        is_sent:
                          type: boolean
                          description: Whether step was sent
                  result:
                    type: object
                    description: Task result when complete
                    properties:
                      response:
                        type: object
                        description: Agent response data
                      success:
                        type: boolean
                        description: Whether task completed successfully
        "401":
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error message
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the completion
        object:
          type: string
          enum: [chat.completion]
        created:
          type: integer
          description: Unix timestamp of when the completion was created
        model:
          type: string
          description: Model ID used
        choices:
          type: array
          items:
            type: object
            properties:
              message:
                type: object
                properties:
                  role:
                    type: string
                    enum: [assistant]
                    description: Message role
                  content:
                    type: string
                    description: Message content
              finish_reason:
                type: string
                enum: [stop, length]
                description: Reason for stopping the generation
              index:
                type: integer
                description: Index of the message choice
    AIXBTProjectInfoAgent_tool_arguments:
      type: object
      properties:
        limit:
          type: integer
          description: Number of projects to return (max 50).
          default: 10
        name:
          type: string
          description: Filter projects by name (case-insensitive regex match). Effective for finding specific projects or related projects sharing similar naming conventions.
        ticker:
          type: string
          description: Filter projects by ticker symbol (case-insensitive match). Useful when you know the exact trading symbol of a token.
        xHandle:
          type: string
          description: Filter projects by X/Twitter handle. Ideal for finding projects from their social media identities, with or without the @ symbol.
        minScore:
          type: number
          description: Minimum score threshold for filtering projects based on social trends and market activity. Use 0 if a project name/ticker/handle is specified. For trending projects, use 0.1-0.3. For the most popular projects only, use 0.4-0.5. Higher scores indicate more significant current market attention.
        chain:
          type: string
          description: Filter projects by blockchain (e.g., 'ethereum', 'solana', 'base'). Returns projects with tokens deployed on the specified chain, useful for ecosystem-specific research.
    ArkhamIntelligenceAgent_tool_arguments:
      type: object
      properties:
        address:
          type: string
          description: Blockchain address, smart contract address, token contract address, or Entity ID.
        chain:
          type: string
          description: The blockchain network.
        time:
          type: integer
          description: Unix timestamp in milliseconds (UTC day start). If not provided, defaults to 7 days ago from the current UTC day start.
        groupByEntity:
          type: boolean
          description: Whether to group holders by known entities (e.g., exchanges, institutions).
          default: true
    BitquerySolanaTokenInfoAgent_tool_arguments:
      type: object
      properties:
        token_address:
          type: string
          description: The Solana token mint address.
        quote_token:
          type: string
          description: Quote token to use ('usdc', 'sol', 'virtual', or the token address).
          default: "sol"
        limit:
          type: integer # Corrected from number to integer based on usage
          description: Number of buyers or traders to fetch.
          default: 30
        buyer_addresses:
          type: array
          items:
            type: string
          description: List of buyer wallet addresses to check.
    CarvOnchainDataAgent_tool_arguments:
      type: object
      properties:
        blockchain:
          type: string
          description: The blockchain to query (ethereum, base, bitcoin, solana). Only these four blockchains are supported.
          enum: ["ethereum", "base", "bitcoin", "solana"]
        query:
          type: string
          description: A natural language query describing the blockchain metrics request.
    CoinGeckoTokenInfoAgent_tool_arguments:
      type: object
      properties:
        coingecko_id:
          type: string
          description: The CoinGecko ID of the token.
        ids:
          type: string
          description: Comma-separated CoinGecko IDs of the tokens to query.
        vs_currencies:
          type: string
          description: Comma-separated target currencies (e.g., usd,eur,btc).
          default: "usd"
        include_market_cap:
          type: boolean
          description: Include market capitalization data.
          default: false
        include_24hr_vol:
          type: boolean
          description: Include 24hr trading volume data.
          default: false
        include_24hr_change:
          type: boolean
          description: Include 24hr price change percentage.
          default: false
        include_last_updated_at:
          type: boolean
          description: Include timestamp of when the data was last updated.
          default: false
        precision:
          type: string # Kept as string, though boolean 'false' was default in metadata
          description: Decimal precision for currency values (e.g., 'full' for maximum precision).
        order:
          type: string
          description: Sort order for categories or tokens.
          enum: ["market_cap_desc", "market_cap_asc", "name_desc", "name_asc", "market_cap_change_24h_desc", "market_cap_change_24h_asc", "volume_desc", "volume_asc", "id_asc", "id_desc"]
        category_id:
          type: string
          description: The CoinGecko category ID (e.g., 'layer-1').
        vs_currency:
          type: string
          description: "The currency to show results in (default: usd)."
          default: "usd"
        per_page:
          type: integer
          description: "Number of results per page (1-250, default: 100)."
          default: 100
          minimum: 1
          maximum: 250
        page:
          type: integer
          description: "Page number (default: 1)."
          default: 1
          minimum: 1
        include:
          type: string
          description: "Single attribute to include for trending pools: base_token, quote_token, dex, or network."
          enum: ["base_token", "quote_token", "dex", "network"]
          default: "base_token"
        pools: # Parameter name from metadata is 'pools', not 'num_pools'
          type: integer
          description: Number of pools to return (1-10).
          default: 4
          minimum: 1
          maximum: 10
        network:
          type: string
          description: Network ID (e.g., base) for top token holders.
        address: # This is a common parameter name, ensure description is clear
          type: string
          description: Token contract address for top token holders.
    CookieProjectInfoAgent_tool_arguments:
      type: object
      properties:
        twitter_username:
          type: string
          description: Twitter username without the @ symbol.
        interval:
          type: string
          description: Time interval for the data (_3Days, _7Days).
          enum: ["_3Days", "_7Days"]
          default: "_7Days"
        contract_address:
          type: string
          description: Token contract address.
    DexScreenerTokenInfoAgent_tool_arguments:
      type: object
      properties:
        search_term:
          type: string
          description: Search term (token name, symbol, or address).
        chain:
          type: string
          description: Chain identifier (e.g., solana, bsc, ethereum, base).
        pair_address:
          type: string
          description: The pair contract address to look up.
        token_address:
          type: string
          description: The token contract address to look up all pairs for.
    ElfaTwitterIntelligenceAgent_tool_arguments:
      type: object
      properties:
        keywords:
          type: array
          items:
            type: string
          description: List of keywords to search for.
        days_ago:
          type: integer # Corrected from number
          description: Number of days to look back.
          default: 20 # Default for search_mentions
        limit:
          type: integer # Corrected from number
          description: "Maximum number of results (minimum: 20, maximum: 30)."
          default: 20
        username:
          type: string
          description: Twitter username to analyze (without @).
        time_window:
          type: string
          description: Time window to analyze for trending tokens.
          default: "24h"
    EtherscanAgent_tool_arguments:
      type: object
      properties:
        chain:
          type: string
          description: Blockchain network to query.
          enum: ["ethereum", "base", "arbitrum", "zksync", "avalanche", "bsc"]
        txid:
          type: string
          description: Transaction hash to analyze.
        address:
          type: string
          description: Wallet address or Token contract address to analyze.
    ExaSearchAgent_tool_arguments:
      type: object
      properties:
        search_term:
          type: string
          description: The search term.
        limit:
          type: integer # Corrected from number
          description: "Maximum number of results to return (default: 10)."
          # default not specified in metadata for limit, but description implies 10
        question:
          type: string
          description: The question to answer.
    FirecrawlSearchAgent_tool_arguments:
      type: object
      properties:
        search_term:
          type: string
          description: The search term to execute.
        urls:
          type: array
          items:
            type: string
          description: List of URLs to extract data from. Can include wildcards (e.g., 'example.com/*') to crawl entire domains.
        extraction_prompt:
          type: string
          description: Natural language description of what data to extract from the pages.
    FundingRateAgent_tool_arguments:
      type: object
      properties:
        symbol:
          type: string
          description: The trading pair symbol (e.g., BTC, ETH, SOL).
        min_funding_rate_diff:
          type: number
          description: "Minimum funding rate difference to consider (default: 0.0003)."
          # default not specified in metadata, but description implies 0.0003
        min_funding_rate:
          type: number
          description: "Minimum funding rate to consider (default: 0.0003)."
          # default not specified in metadata, but description implies 0.0003
    GoplusAnalysisAgent_tool_arguments:
      type: object
      properties:
        contract_address:
          type: string
          description: The token contract address.
        chain_id:
          type: string # chain_id is string in metadata (e.g. "solana", "1")
          description: The blockchain chain ID or 'solana' for Solana tokens. Supported chains Ethereum (1), Optimism (10), Cronos (25), BSC (56), Gnosis (100), HECO (128), Polygon (137), Fantom (250), KCC (321), zkSync Era (324), ETHW (10001), FON (201022), Arbitrum (42161), Avalanche (43114), Linea Mainnet (59144), Base (8453), Tron (tron), Scroll (534352), opBNB (204), Mantle (5000), ZKFair (42766), Blast (81457), Manta Pacific (169), Berachain Artio Testnet (80085), Merlin (4200), Bitlayer Mainnet (200901), zkLink Nova (810180), X Layer Mainnet (196), Solana (solana).
          default: "1" # Default is 1 (Ethereum) as per metadata
    MoniTwitterInsightAgent_tool_arguments:
      type: object
      properties:
        username:
          type: string
          description: Twitter username without the @ symbol.
        timeframe:
          type: string
          description: Time range for the data (H1=Last hour, H24=Last 24 hours, D7=Last 7 days, D30=Last 30 days, Y1=Last year).
          enum: ["H1", "H24", "D7", "D30", "Y1"]
          default: "D7"
        limit:
          type: integer
          description: Maximum number of mentions to return.
          default: 100
        fromDate:
          type: integer
          description: Unix timestamp of the earliest event to include.
        toDate:
          type: integer
          description: Unix timestamp of the most recent post to include.
    PondWalletAnalysisAgent_tool_arguments:
      type: object
      properties:
        address:
          type: string
          description: Ethereum, Solana, or Base wallet address.
    PumpFunTokenAgent_tool_arguments:
      type: object
      properties:
        interval:
          type: string
          enum: ["hours", "days"]
          default: "hours"
          description: Time interval (hours/days).
        offset:
          type: integer # Corrected from number
          minimum: 1
          maximum: 99
          default: 1
          description: Time offset for interval.
        timeframe:
          type: integer # Corrected from number
          description: Timeframe in hours to look back for graduated tokens.
          default: 24
    SolWalletAgent_tool_arguments:
      type: object
      properties:
        owner_address:
          type: string
          description: The Solana wallet address to query.
        token_address:
          type: string
          description: The Solana token mint address to analyze for common holdings.
        top_n:
          type: integer
          description: "Number of top holders to analyze for token holdings (default: 20)."
          default: 20
    SpaceTimeAgent_tool_arguments:
      type: object
      properties:
        nl_query:
          type: string
          description: Natural language description of the blockchain data query.
    TruthSocialAgent_tool_arguments:
      type: object
      properties:
        profile:
          type: string
          description: Truth Social profile handle with @ symbol (defaults to @realDonaldTrump).
          default: "@realDonaldTrump"
        max_posts:
          type: integer
          description: Maximum number of posts to retrieve.
          default: 20
    TwitterInfoAgent_tool_arguments:
      type: object
      properties:
        username:
          type: string
          description: Twitter username (with or without @) or numeric user ID.
        limit:
          type: integer
          description: Maximum number of tweets to return.
          default: 10
        tweet_id:
          type: string
          description: The ID of the tweet to fetch details for.
        cursor:
          type: string
          description: Cursor for pagination through replies or threaded content or search results.
          default: ""
        q:
          type: string
          description: The search query term (e.g. eth).
    UnifaiMeteoraInfoAgent_tool_arguments:
      type: object
      properties:
        limit:
          type: integer
          description: Maximum number of pools to return.
          default: 10
          minimum: 1 # For get_trending_dlmm_pools
          maximum: 50 # For get_trending_dlmm_pools
        include_pool_token_pairs:
          type: array
          items:
            type: string
          description: Optional array of token pairs to include (e.g., ['SOL/USDC']).
          default: []
        include_token_mints:
          type: array
          items:
            type: string
          description: Optional array of token mint addresses to include (e.g., ['So11111111111111111111111111111111111111112'] for SOL).
          default: []
    UnifaiTokenAnalysisAgent_tool_arguments:
      type: object
      properties:
        time_window:
          type: string
          description: Time window for trends (e.g., '24h', '4h', '1h').
          default: "24h"
        limit:
          type: integer
          description: Maximum number of trending tokens to return.
          default: 50
          minimum: 1
          maximum: 100
        chain:
          type: string
          description: Blockchain network (e.g., 'eth', 'sol', 'base', 'bsc').
        address:
          type: string
          description: Token contract address.
        ticker:
          type: string
          description: Token ticker symbol (e.g., 'ETH', 'BTC', 'SOL').
    UnifaiWeb3NewsAgent_tool_arguments:
      type: object
      properties:
        limit:
          type: integer
          description: Maximum number of news articles to return.
          default: 10
    ZerionWalletAnalysisAgent_tool_arguments:
      type: object
      properties:
        wallet_address:
          type: string
          description: The EVM wallet address (starting with 0x and 42-character long) to analyze. You can also use 'SELF' for wallet_address to use the user's own wallet address.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
